/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  border: 1px solid;
}
.app {
  border: 1px solid red;
  height: 100%;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.app {
  border: 1px solid red;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.calculator {
  padding: 16px; /* Add padding to the calculator for better appearance */
  width: fit-content;
  height: fit-content;
  background-image: linear-gradient(to top left, #bc61f5, #d7a1f9);
  /* background-color: #bc61f5; */
  border-radius: 10px;
}

.display {
  /* border: 1px solid green; */
  margin-bottom: 8px; /* Add margin to separate the display from buttons */
  padding: 8px;
  height: 40%;
  /* background-color: aqua; */
  /* back */
}

.Buttons {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Adjust the number of columns as needed */
  grid-gap: 8px; /* Add some gap between buttons */
}

button {
  width: 80px;
  height: 80px;
  /* padding: 38px; */
  font-size: 20px;
  border-radius: 50%;
  border: none;
}
